@import '../../styles/colors.scss';

.Button {
  background-color: $dark-color;
  border: 1px solid $dark-color;
  color: $light-color;
  height: 48px;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  line-height: 1.2em;
  padding: 8px 16px;

  &:hover:not(:disabled) {
    background-color: $lighter-dark-color;
    border: 1px solid $lighter-dark-color;
  }

  &:disabled {
    background-color: $disabled-color;
    border: 1px solid $disabled-color;
    cursor: not-allowed;
  }
}
